* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  cursor: default;
  outline: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #cccccc8f;
}

::-webkit-scrollbar-thumb {
  background: #d84b4b;
}

.no-scroll {
  overflow-y: hidden;
}

.display-none {
  display: none !important;
}

.z-index-1 {
  z-index: -1;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}

.game-mode-button {
  cursor: pointer;
  width: 110px;
  height: 40px;
  border: 3px solid #3214f8;
  border-radius: 20px;
  padding: 3px;
  position: relative;
}

.game-mode-button-on {
  border: 3px solid #ff2222;
  transition: 0.2s;
}

.game-mode-button-switcher {
  position: absolute;
  top: 2px;
  left: 2px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background: #3214f8;
  transition: 0.2s;
}

.game-mode-button-switcher-on {
  transform: translateX(70px);
  background: #ff2222;
  transition: 0.2s;
}

.game-mode-button-text {
  position: absolute;
  top: 2px;
  right: 15px;
  font-family: 'Nerko One', cursive;
  font-size: 24px;
  color: #ff2222;
  text-align: center;
  cursor: pointer;
  flex: 2;
  transition: 0.2s;
}

.game-mode-button-text-on {
  transform: translateX(-25px);
  color: #3214f8;
  transition: 0.2s;
}

.hamburger-menu-button {
  z-index: 101;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger-menu-button-close {
  transform: translateX(180px);
  transition: 0.3s;
}

.blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh + 100px);
  background: rgba(0, 0, 0, 0.8);
  z-index: 99;
  display: none;
  transition: 0.1s;
}

.blackout-on {
  display: block;
  transition: 0.1s;
}

.hamburger-menu-button-line-1 {
  width: 50px;
  height: 4px;
  background-color: #ff2222;
  border-radius: 2px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger-menu-button-line-2 {
  width: 50px;
  height: 4px;
  background-color: #ff2222;
  border-radius: 2px;
  cursor: pointer;
  transition: 0.1s;
}

.hamburger-menu-button-line-3 {
  width: 50px;
  height: 4px;
  background-color: #ff2222;
  border-radius: 2px;
  margin-top: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.hamburger-menu-button-close :nth-child(1) {
  background-color: #ffffff;
  transform: translateY(14px) rotate(-45deg);
  transition: 0.3s;
}

.hamburger-menu-button-close :nth-child(2) {
  background-color: #ffffff;
  visibility: hidden;
  transition: 0.1s;
}

.hamburger-menu-button-close :nth-child(3) {
  background-color: #ffffff;
  transform: translateY(-14px) rotate(45deg);
  transition: 0.3s;
}

.hamburger-menu {
  width: 320px;
  height: 100vh;
  padding-bottom: 100px;
  padding-top: 100px;
  position: absolute;
  top: 0;
  left: -320px;
  display: flex;
  justify-content: center;
  z-index: 100;
  background: #ff2222;
  transition: 0.3s;

  ::-webkit-scrollbar {
    display: none;
  }
}

.hamburger-menu-opened {
  left: 0px;
  transition: 0.3s;
}

.navigation-list {
  list-style: none;
  overflow-y: scroll;
}

.navigation-item {
  margin: 2vh;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Nerko One', cursive;
  font-size: 30px;
  text-align: center;
  transition: 0.2s;
}

.navigation-item-current {
  margin: 2vh;
  cursor: pointer;
  color: #ffffff;
  font-family: 'Nerko One', cursive;
  font-size: 30px;
  text-align: center;
  transition: 0.2s;
  text-decoration: underline;
  cursor: default;
  pointer-events: none;
}

.navigation-item:hover {
  letter-spacing: 5px;
  transition: 0.2s;
  text-shadow: 0px 0px 20px #ffffff;
}

main {
  width: 100%;
  height: 100%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  flex-grow: 1;
}

.stars {
  text-align: center;
  margin-bottom: 20px;
  font-size: 42px;
  color: #ff2222;
  max-width: 1280px;
  height: 42px;
}

.theme-title {
  margin: 1vh;
  color: #3214f8;
  font-family: 'Nerko One', cursive;
  font-size: 42px;
  text-align: center;
}

.cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card-theme {
  min-width: 300px;
  width: 300px;
  height: 200px;
  margin: 10px;
  background-size: cover;
  box-shadow: 0 0 5px #000000;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
}

.card-theme:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.card-theme-title {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000000;
  font-family: 'Nerko One', cursive;
  font-size: 42px;
  text-align: center;
  cursor: pointer;
}

.card-word {
  background-color: transparent;
  perspective: 1000px;
  min-width: 300px;
  width: 300px;
  height: 200px;
  margin: 10px;
  transition: 0.2s;
}

.card-word:hover {
  transform: scale(1.03);
  transition: 0.2s;
}

.card-word-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  box-shadow: 0 0 5px #000000;
}

.card-word-flip {
  transform: rotateY(180deg);
}

.card-word-front, .card-word-back {
  background-size: cover;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-word-back {
  transform: rotateY(180deg);
}

.card-word-title {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  text-shadow: 2px 2px 5px #000000, -2px -2px 5px #000000;
  font-family: 'Nerko One', cursive;
  font-size: 42px;
  text-align: center;
  cursor: pointer;
}

.card-word-flip-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 42px;
  height: 42px;
  background-color: #ff000082;
  border-radius: 50%;
  cursor: pointer;
}

.card-word-flip-icon:hover {
  transform: scale(1.1);
  transition: 0.1s;
}

.card-word-flip-icon::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: url(../public/flip-icon.svg);
  width: 42px;
  height: 42px;
}

.start-game-button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  background: #ff2222;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Nerko One', cursive;
  font-size: 24px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.2s;
}

.repeat-button {
  background: #3214f8;
  transition: 0.2s;
}

.start-game-button:hover {
  transform: translate(3px, 3px);
  box-shadow: -1px -1px 5px #505050;
  transition: 0.2s;
}

footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background: #3214f8;
  color: #ffffff;
}

.github {
  width: 50px;
  height: 50px;
}

.github img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.year {
  font-family: Arial, Helvetica, sans-serif;
}

.rsschool {
  width: 50px;
  height: 50px;
}

.rsschool img {
  cursor: pointer;
  width: 50px;
  height: 50px;
}

.white-back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000f7;
}

.result-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.result-title {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px #ff2222, -2px -2px 5px #ff2222;
  font-family: 'Nerko One', cursive;
  font-size: 62px;
  margin-bottom: 10vh;
}

.results {
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px 5px #3214f8, -2px -2px 5px #3214f8;
  font-family: 'Nerko One', cursive;
  font-size: 52px;
  margin-bottom: 10vh;
}

.smile {
  width: 300px;
  height: 300px;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

.page {
  width: 100%;
}

.statistics-container {
  justify-self: start;
  min-width: 100%;
  overflow-x: scroll;
}

.statistics {
  min-width: 100%;
  text-align: center;

  td {
    padding: 5px 10px;
  }

  thead tr td {
    font-weight: 500;
    font-size: 18px;
  }

  tbody tr:nth-child(odd) {
    background-color: #ff99996c;
  }
}
