* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
}

$primary: #2196F3;
$primary-dark: #1E88E5;
$white: #ffffff;
$black: #000000;
$black-almost: #333333;
$black-transparent: rgba(0, 0, 0, 0.05);
$black-shadow: rgba(0, 0, 0, 0.25);

.header {
  width: 100%;
  height: 64px;
  background-color: $primary;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 2px 4px $black-shadow;
}

.logo {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 11px;
  letter-spacing: 1.25px;

  .logo__top {
    color: $white;
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px $black-shadow;
  }

  .logo__bottom {
    color: $primary;
    background-color: $white;
    width: 80px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 0px 4px 4px $black-shadow;
    box-shadow: 0px 2px 4px $black-shadow;
  }

  &:hover {
    cursor: pointer;
  }
}

.nav__list {
    list-style: none;
    display: flex;
    height: 100%;
}

.nav__item {
  padding: 7px 0;
  width: 96px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: 12px;
  font-weight: 400;
  letter-spacing: 0.4px;
  color: $white;

  &:hover {
    cursor: pointer;
    background-color: $primary-dark;
  }
}

.nav__item_active {
  background-color: $primary-dark;
  cursor: default;
  pointer-events: none;
}

.top-btn {
  padding: 10px 15px;
  background-color: $white;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  color: $primary;
  box-shadow: 0px 2px 4px $black-shadow;

  &:hover {
    cursor: pointer;
  }
}

.main {
  width: 100%;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: 1000px;
  min-height: 800px;
  background-color: $black-transparent;
  padding: 30px 35px 0 35px;
  border-radius: 5px;
  box-shadow: 0px 2px 4px $black-shadow;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board__title {
  color: $black;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.15px;
  margin-bottom: 20px;
  align-self: flex-start;
}

// about page

.rules {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 240px 130px 240px;
  row-gap: 20px;
}

.rules__rule {
  background-color: $white;
  border-radius: 3px;
  padding: 15px;
  box-shadow: 0px 1px 2px $black-shadow;
  display: flex;
}

.rules__rule__number {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  font-weight: normal;
  font-size: 24px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: $primary;
  box-shadow: 1px 2px 4px $black-shadow;
  flex-shrink: 0;
}

.rules__img {
  justify-self: right;
}

// game page

.timer {
  width: 256px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $white;
  color: $primary-dark;
  box-shadow: 1px 2px 4px $black-shadow;
  border-radius: 5px;
  font-weight: 500;
  font-size: 36px;
  letter-spacing: 0.15px;
  margin-bottom: 50px;
}

.cards {
  display: grid;
  grid-template-columns: 168px 168px 168px;
  grid-template-rows: 168px 168px 168px;
  column-gap: 20px;
  row-gap: 20px;
}

.card-container {
  perspective: 320px;
  cursor: pointer;
  transform-origin: right;

  &:hover > .card {
    box-shadow: 1px 4px 7px $black;
  }

}

.card {
  position: relative;
  width: 168px;
  height: 168px;
  transform-style: preserve-3d;
  transition: all .3s;
  border-radius: 5px;
  box-shadow: 0px 2px 5px $black;

  &__front, &__back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: inherit;
  }

  &__front {
    background-color: green;
    transform: rotateY(180deg);
  }

  &__back {
    background-image: url('./assets/images/card-front.png');
    background-position: center;
    background-size: cover;
  }

  &_active {
    transform: rotateY(180deg) translateX(-100%);
    transform-origin: left;
  }

  img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
  }

}


// score page

.score-container {
  width: 100%;
  height: 100%;
}


.result {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid $primary-dark;
  margin-bottom: 20px;
}

.profile {
  display: flex;
  color: $black-almost
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.profile__bio {
  margin-left: 15px;
}

.profile__name {
  font-weight: 500;
  font-size: 14;
}

.profile__email {
  font-weight: 400;
  font-size: 12;
}

.score {
  font-weight: 500;
  font-size: 14;

  &__number {
    color: $primary;
  }
}

// setting page

.settings-container {
  width: 100%;
  height: 100%;
}

.setting-title {
  font-weight: 500;
  font-size: 16;
  margin: 15px 0 5px 0;
}

.submit-settings {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  width: 120px;
  height: 40px;
  border-radius: 3px;
  background-color: $primary;
  color: $white;
  font-weight: 500;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 1px 2px 4px $black-shadow;
}
