*
  box-sizing: border-box
  padding: 0
  margin: 0
  text-decoration: none
  cursor: default
  font-family: 'Roboto', sans-serif
  font-style: normal

.logo
  display: flex
  flex-direction: column
  align-items: center
  font-weight: 900

  .logo__big-text
    font-size: 36px
    line-height: 28px

  .logo__small-text
    font-size: 18px
    letter-spacing: 0.08em

.btn
  display: flex
  align-items: center
  justify-content: center
  width: 245px
  height: 55px
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%)
  border: none
  border-radius: 3px
  font-size: 18px
  font-weight: 900
  text-transform: uppercase
  color: #ffffff

  img
    margin-right: 5px

.content__title
  font-weight: 900
  font-size: 20px
  color: #333333

.paragraph
  font-size: 14px
  font-weight: 400

.section-title
  font-weight: 900
  font-size: 48px
  color: #333333

.slider-controls
  font-weight: 900
  display: flex
  flex-direction: column
  align-items: center

  .slide-number
    margin-bottom: 15px

    .slide-number-current
      font-size: 24px

    .slide-number-last
      font-size: 14px

  .input-line
    appearance: none
    width: 245px
    height: 5px
    outline: none
    transition: opacity .2s

  .input-line::-webkit-slider-thumb
    appearance: none
    height: 10px
    width: 20px
    opacity: 1
    cursor: pointer

  .input-line:hover
    cursor: pointer

.slider-controls_dark

  .slide-number

    .slide-number-current
      color: #333333

    .slide-number-last
      color: #bdbdbd

  .input-line
    background: #bdbdbd94

  .input-line::-webkit-slider-thumb
    background: #333333

  .input-line:hover
    background:#bdbdbd

.slider-controls_light

  .slide-number

    .slide-number-current
      color: #fefefe

    .slide-number-last
      color: #bdbdbd

  .input-line
    background: #bdbdbd94

  .input-line::-webkit-slider-thumb
    background: #fefefe

  .input-line:hover
    background:#bdbdbd


body
  width: 100%
  overflow-x: hidden

header
  height: 94px
  width: 100%
  padding: 0 150px
  display: flex
  justify-content: space-between
  align-items: center

  .navigation-top
    font-weight: 500
    font-size: 16px

    .navigation-top__list
      list-style: none
      display: flex

    .navigation-top__list__item
      margin: 0 42px

    .navigation-top__list__item_active
      border-bottom: solid 1px
      font-weight: 900

  .switch
    position: relative
    width: 54px
    height: 30px

    input
      opacity: 0
      width: 0
      height: 0

    .switcher
      position: absolute
      cursor: pointer
      top: 0
      left: 0
      right: 0
      bottom: 0
      background-color: #f2f2f2
      border-radius: 15px
      transition: .3s

    .switcher:before
      position: absolute
      content: ""
      height: 20px
      width: 20px
      left: 6px
      bottom: 5px
      background-color: #ffffff
      box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15)
      border-radius: 50%
      transition: .3s

    input:checked + .switcher
      background-color: #4f4f4f

    input:checked + .switcher:before
      transform: translateX(22px)
      background-color: #1b1b1b
      box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15)

.wrapper-top
  background: no-repeat url('../images/bg-main.png') center
  background-size: cover
  height: 940px
  padding: 206px 360px 0 360px
  position: relative
  overflow: hidden

  .wrapper-top__slider-container
    position: absolute
    top: 406px
    left: 840px
    padding: 0
    background: no-repeat url('../icons/top-line.svg') left

    .wrapper-top__slider-container__slider
      display: flex
      align-items: center
      margin-bottom: 20px
      margin-left: 112px
      overflow-x: hidden

      .wrapper-top__slider-container__slider__slide
        margin: 0 23px
        width: 140px
        height: 203px
        display: flex
        flex-direction: column
        justify-content: flex-end
        border-radius: 5px
        overflow: hidden
        position: relative

        .wrapper-top__slider-container__slider__slide__content
          position: absolute
          bottom: -250px
          transition: .2s
          display: flex
          flex-direction: column
          justify-content: flex-end
          padding: 0 25px 35px 25px

        img
          height: 100%
          object-fit: cover

      .wrapper-top__slider-container__slider__slide_active
        width: 245px
        height: 352px

      .wrapper-top__slider-container__slider__slide_active:hover

        .wrapper-top__slider-container__slider__slide__content
          bottom: 0
          transition: .2s

    .slider-controls
      position: absolute
      left: 320px

      .input-line::-webkit-slider-thumb
        width: 30px

  .socials
    position: absolute
    left: 152px
    bottom: 107px

    .socials__list
      list-style: none

      .socials__list__item
        margin-top: 10px
    
  .wrapper-top__content

    .wrapper-top__content__title
      font-size: 89px
      margin-bottom: 41px
      max-width: 793px
      color: #fefefe

.wrapper-how
  width: 100%
  padding: 100px 565px
  display: flex
  flex-direction: column
  align-items: center

  .wrapper-how__title
    align-self: flex-start

  .wrapper-how__description
    margin: 30px 0

  .wrapper-how__slider-container
    width: 100%
    margin-bottom: 30px

    .wrapper-how__slider-container__slider
      overflow-x: hidden
      margin-bottom: 30px

      .wrapper-how__slider-container__slider__slide
        width: 100%
        height: 323px
        display: flex
        align-items: center
        overflow-y: hidden

        img
          width: 100%

    .slider-controls

      .input-line::-webkit-slider-thumb
        width: 62px

.wrapper-about
  padding: 100px 360px
  background: #f2f2f2

  .wrapper-about__content    
    display: flex
    align-items: flex-start
    justify-content: space-between

    .wrapper-about__content__block
      width: 380px
      display: flex
      flex-direction: column
      align-items: center

      .wrapper-about__content__block__icon
        margin-bottom: 15px

      .wrapper-about__content__title
        margin-bottom: 15px

      .wrapper-about__content__description
        margin-bottom: 32px
        