* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  cursor: default;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
}
.logo .logo__big-text {
  font-size: 36px;
  line-height: 28px;
}
.logo .logo__small-text {
  font-size: 18px;
  letter-spacing: 0.08em;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border: none;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  color: #ffffff;
}
.btn img {
  margin-right: 5px;
}

.content__title {
  font-weight: 900;
  font-size: 20px;
  color: #333333;
}

.paragraph {
  font-size: 14px;
  font-weight: 400;
  color: #4f4f4f;
}

.section-title {
  font-weight: 900;
  font-size: 48px;
  color: #333333;
}

.slider-controls {
  font-weight: 900;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.slider-controls .slide-number {
  margin-bottom: 15px;
}
.slider-controls .slide-number .slide-number-current {
  font-size: 24px;
}
.slider-controls .slide-number .slide-number-last {
  font-size: 14px;
}
.slider-controls .input-line {
  appearance: none;
  width: 245px;
  height: 5px;
  outline: none;
  transition: opacity 0.2s;
}
.slider-controls .input-line::-webkit-slider-thumb {
  appearance: none;
  height: 10px;
  width: 20px;
  opacity: 1;
  cursor: pointer;
}
.slider-controls .input-line:hover {
  cursor: pointer;
}

.slider-controls_dark .slide-number .slide-number-current {
  color: #333333;
}
.slider-controls_dark .slide-number .slide-number-last {
  color: #bdbdbd;
}
.slider-controls_dark .input-line {
  background: #bdbdbd94;
}
.slider-controls_dark .input-line::-webkit-slider-thumb {
  background: #333333;
}
.slider-controls_dark .input-line:hover {
  background: #bdbdbd;
}

.slider-controls_light .slide-number .slide-number-current {
  color: #fefefe;
}
.slider-controls_light .slide-number .slide-number-last {
  color: #bdbdbd;
}
.slider-controls_light .input-line {
  background: #bdbdbd94;
}
.slider-controls_light .input-line::-webkit-slider-thumb {
  background: #fefefe;
}
.slider-controls_light .input-line:hover {
  background: #bdbdbd;
}

body {
  width: 100%;
  overflow-x: hidden;
}

header {
  height: 94px;
  width: 100%;
  padding: 0 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .navigation-top {
  font-weight: 500;
  font-size: 16px;
}
header .navigation-top .navigation-top__list {
  list-style: none;
  display: flex;
}
header .navigation-top .navigation-top__list__item {
  margin: 0 42px;
}
header .navigation-top .navigation-top__list__item_active {
  border-bottom: solid 1px;
  font-weight: 900;
}
header .switch {
  position: relative;
  width: 54px;
  height: 30px;
}
header .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
header .switch .switcher {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  border-radius: 15px;
  transition: 0.3s;
}
header .switch .switcher:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 6px;
  bottom: 5px;
  background-color: #ffffff;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 50%;
  transition: 0.3s;
}
header .switch input:checked + .switcher {
  background-color: #4f4f4f;
}
header .switch input:checked + .switcher:before {
  transform: translateX(22px);
  background-color: #1b1b1b;
  box-shadow: 2px 4px 15px rgba(230, 230, 230, 0.15);
}

.wrapper-top {
  background: no-repeat url("../images/bg-main.png") center;
  background-size: cover;
  height: 940px;
  padding: 206px 360px 0 360px;
  position: relative;
  overflow: hidden;
}
.wrapper-top .wrapper-top__slider-container {
  position: absolute;
  top: 406px;
  left: 840px;
  padding: 0;
  background: no-repeat url("../icons/top-line.svg") left;
}
.wrapper-top .wrapper-top__slider-container .wrapper-top__slider-container__slider {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 112px;
  overflow-x: hidden;
}
.wrapper-top .wrapper-top__slider-container .wrapper-top__slider-container__slider .wrapper-top__slider-container__slider__slide {
  margin: 0 23px;
  width: 140px;
  height: 203px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  overflow-y: hidden;
}
.wrapper-top .wrapper-top__slider-container .wrapper-top__slider-container__slider .wrapper-top__slider-container__slider__slide img {
  border-radius: 5px;
}
.wrapper-top .wrapper-top__slider-container .wrapper-top__slider-container__slider .wrapper-top__slider-container__slider__slide .wrapper-top__slider-container__slider__slide__content {
  position: absolute;
  bottom: -250px;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 25px 35px 25px;
}
.wrapper-top .wrapper-top__slider-container .wrapper-top__slider-container__slider .wrapper-top__slider-container__slider__slide img {
  height: 100%;
  object-fit: cover;
}
.wrapper-top .wrapper-top__slider-container .wrapper-top__slider-container__slider .wrapper-top__slider-container__slider__slide_active {
  width: 245px;
  height: 352px;
}
.wrapper-top .wrapper-top__slider-container .wrapper-top__slider-container__slider .wrapper-top__slider-container__slider__slide_active:hover .wrapper-top__slider-container__slider__slide__content {
  bottom: 0;
  transition: 0.2s;
}
.wrapper-top .wrapper-top__slider-container .slider-controls {
  position: absolute;
  left: 320px;
}
.wrapper-top .wrapper-top__slider-container .slider-controls .input-line::-webkit-slider-thumb {
  width: 30px;
}
.wrapper-top .socials {
  position: absolute;
  left: 152px;
  bottom: 107px;
}
.wrapper-top .socials .socials__list {
  list-style: none;
}
.wrapper-top .socials .socials__list .socials__list__item {
  margin-top: 10px;
}
.wrapper-top .wrapper-top__content .wrapper-top__content__title {
  font-size: 89px;
  margin-bottom: 41px;
  max-width: 793px;
  color: #fefefe;
}

.wrapper-how {
  width: 100%;
  padding: 100px 0;
}
.wrapper-how .wrapper-how__container {
  width: 100%;
  max-width: 790px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-how .wrapper-how__container .wrapper-how__title {
  align-self: flex-start;
}
.wrapper-how .wrapper-how__container .wrapper-how__description {
  margin: 30px 0;
}
.wrapper-how .wrapper-how__container .wrapper-how__slider-container {
  width: 100%;
  margin-bottom: 30px;
}
.wrapper-how .wrapper-how__container .wrapper-how__slider-container .wrapper-how__slider-container__slider {
  overflow-x: hidden;
  margin-bottom: 30px;
}
.wrapper-how .wrapper-how__container .wrapper-how__slider-container .wrapper-how__slider-container__slider .wrapper-how__slider-container__slider__slide {
  width: 100%;
  height: 323px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow-y: hidden;
}
.wrapper-how .wrapper-how__container .wrapper-how__slider-container .wrapper-how__slider-container__slider .wrapper-how__slider-container__slider__slide img {
  width: 100%;
}
.wrapper-how .wrapper-how__container .wrapper-how__slider-container .slider-controls .input-line::-webkit-slider-thumb {
  width: 62px;
}

.wrapper-about {
  padding: 100px 0;
  background: #f2f2f2;
}
.wrapper-about .wrapper-about__content {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.wrapper-about .wrapper-about__content .wrapper-about__content__block {
  width: 380px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-about .wrapper-about__content .wrapper-about__content__block .wrapper-about__content__block__icon {
  margin-bottom: 15px;
}
.wrapper-about .wrapper-about__content .wrapper-about__content__block .wrapper-about__content__title {
  margin-bottom: 15px;
}
.wrapper-about .wrapper-about__content .wrapper-about__content__block .wrapper-about__content__description {
  margin-bottom: 32px;
}

.wrapper-pets {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-pets .wrapper-pets__title {
  margin-bottom: 40px;
}
.wrapper-pets .wrapper-pets__slider-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.wrapper-pets .wrapper-pets__slider-container .slider-container__arrows__arrow_left {
  top: 39%;
  position: absolute;
  left: -45px;
}
.wrapper-pets .wrapper-pets__slider-container .slider-container__arrows__arrow_left img {
  transform: rotate(180deg);
}
.wrapper-pets .wrapper-pets__slider-container .slider-container__arrows__arrow_right {
  top: 39%;
  position: absolute;
  right: -45px;
}
.wrapper-pets .wrapper-pets__slider-container .wrapper-pets__slider-container__slider {
  width: 100%;
  display: flex;
  justify-content: start;
  overflow: hidden;
  margin-bottom: 30px;
}
.wrapper-pets .wrapper-pets__slider-container .wrapper-pets__slider-container__slider .wrapper-pets__slider-container__slider__slide {
  margin-right: 30px;
  width: 277px;
  height: 399px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
}
.wrapper-pets .wrapper-pets__slider-container .wrapper-pets__slider-container__slider .wrapper-pets__slider-container__slider__slide img {
  border-radius: 5px;
}
.wrapper-pets .wrapper-pets__slider-container .wrapper-pets__slider-container__slider .wrapper-pets__slider-container__slider__slide .wrapper-pets__slider-container__slider__slide__content {
  position: absolute;
  bottom: -320px;
  transition: 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.wrapper-pets .wrapper-pets__slider-container .wrapper-pets__slider-container__slider .wrapper-pets__slider-container__slider__slide img {
  height: 100%;
  object-fit: cover;
}
.wrapper-pets .wrapper-pets__slider-container .wrapper-pets__slider-container__slider .wrapper-pets__slider-container__slider__slide:hover .wrapper-pets__slider-container__slider__slide__content {
  bottom: 0;
  transition: 0.2s;
}
.wrapper-pets .wrapper-pets__slider-container .input-line::-webkit-slider-thumb {
  width: 30px;
}
.wrapper-pets .wrapper-pets__btn {
  margin-top: 30px;
}

.wrapper-pay {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}
.wrapper-pay .wrapper-pay__title {
  margin-bottom: 30px;
}
.wrapper-pay .wrapper-pay__description {
  margin-bottom: 92px;
}
.wrapper-pay .wrapper-pay__steps-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.wrapper-pay .wrapper-pay__steps-container .wrapper-pay__steps-container__step {
  width: 245px;
  height: 245px;
  border: solid 3px #4BD8B5;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 53px;
}
.wrapper-pay .wrapper-pay__steps-container .wrapper-pay__steps-container__step .wrapper-pay__steps-container__step__icon {
  margin-bottom: 18px;
}
.wrapper-pay .wrapper-pay__steps-container .wrapper-pay__steps-container__step .wrapper-pay__steps-container__step__title {
  text-align: center;
  color: #4f4f4f;
}

.wrapper-testimonials {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper-testimonials .wrapper-testimonials__title {
  margin-bottom: 55px;
}
.wrapper-testimonials .wrapper-testimonials__slider-container {
  width: 100%;
  max-width: 1230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .slider-container__arrows__arrow_left {
  top: 36%;
  position: absolute;
  left: -30px;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .slider-container__arrows__arrow_left img {
  transform: rotate(180deg);
}
.wrapper-testimonials .wrapper-testimonials__slider-container .slider-container__arrows__arrow_right {
  top: 36%;
  position: absolute;
  right: -30px;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .wrapper-testimonials__slider-container__slider {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  overflow-x: hidden;
  margin-bottom: 35px;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .wrapper-testimonials__slider-container__slider .wrapper-testimonials__slider-container__slider__slide {
  width: 585px;
  height: 310px;
  padding: 47px 72px;
  margin: 10px 15px 10px 15px;
  border-radius: 5px;
  box-shadow: 2px 2px 10px 4px rgba(6, 12, 70, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .wrapper-testimonials__slider-container__slider .wrapper-testimonials__slider-container__slider__slide .wrapper-testimonials__slider-container__slider__slide__image-container {
  width: 68px;
  height: 68px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 17px;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .wrapper-testimonials__slider-container__slider .wrapper-testimonials__slider-container__slider__slide .wrapper-testimonials__slider-container__slider__slide__image-container img {
  width: 100%;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .wrapper-testimonials__slider-container__slider .wrapper-testimonials__slider-container__slider__slide .wrapper-testimonials__slider-container__slider__slide__title {
  margin-bottom: 17px;
}
.wrapper-testimonials .wrapper-testimonials__slider-container .input-line::-webkit-slider-thumb {
  width: 30px;
}
.wrapper-testimonials .wrapper-testimonials__btn {
  margin-top: 35px;
}

.wrapper-map {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #f2f2f2;
}
.wrapper-map .wrapper-map__title {
  margin-bottom: 60px;
}
.wrapper-map .wrapper-map__map {
  width: 1200px;
  height: 500px;
  background: url("../images/map.svg") center;
  position: relative;
}
.wrapper-map .wrapper-map__map .wrapper-map__map__flag {
  position: absolute;
}
.wrapper-map .wrapper-map__btn {
  margin-top: 35px;
}

/*# sourceMappingURL=main.css.map */
