* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-decoration: none;
  cursor: default;
  outline: none;
}

a {
  color: inherit;
}

body {
  position: relative;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 10px;
  background-color: #dc143c;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 5px;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover {
    opacity: 0.8;
  }

  &_active {
    cursor: default;
    opacity: 0.5;
  }

  &_disabled {
    cursor: default;
    pointer-events: none;
    background-color: #0000004d;
  }
}

.header {
  width: 100%;
  height: 60px;
  background-color: #dc143c;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  color: #ffffff;
}

.nav__item {
  display: flex;
  padding: 10px 40px;
  border: 2px solid #ffffff;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 5px;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  &_active {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: default;
  }
}

.main {
  width: 100%;
  padding: 20px 40px;
}

.controls {
  form {
    display: flex;
    align-items: center;
    margin-bottom: 15px;

    .btn {
      width: 100px;
      height: 20px;
    }
  }

  #name-create,
  #name-update {
    cursor: text;
    width: 300px;
    height: 20px;
    margin-right: 10px;
    padding: 0 10px;
  }

  #color-create,
  #color-update {
    cursor: pointer;
    width: 100px;
    height: 20px;
    margin-right: 10px;
  }

  .action-btns {
    display: flex;
    align-items: center;

    .btn {
      margin-right: 10px;
    }
  }
}

.title {
  font-size: 28x;
  font-weight: 500;
  margin: 40px 0 10px 0;
}

.page {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

.car-container {
  margin-bottom: 20px;
}

.car-header {
  display: flex;
  align-items: center;
  padding: 10px 0;
  margin-bottom: 10px;
  border-bottom: 1px dashed #dc143c;

  .btn {
    margin-right: 10px;
  }
}

.car-title {
  font-size: 18px;
  font-weight: 500;
  margin-left: 20px;
}

.car-main {
  display: flex;
  align-items: center;
  border-bottom: 5px dashed #dc143c;
  height: 75px;
}

.drive-btns {
  margin-right: 20px;

  .btn {
    margin-bottom: 5px;
  }
}

.track {
  position: relative;
  width: calc(100% - 200px);
  height: 100%;
}

.car {
  position: absolute;
  top: 0;
  left: 0;

  svg {
    width: 150px;
    height: 75px;
  }
}

.finish {
  position: absolute;
  top: 0;
  right: 2%;
  width: 50px;
  height: 50px;
}

.page-controls {
  display: flex;

  .btn {
    width: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
  }
}

.score-container {
  width: 100%;
  border: 1px solid #dc143c;
  margin-bottom: 40px;
}

.score-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  column-gap: 1px;
}

.score-title {
  background-color: #dc143c;
  padding: 10px 0;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.score-result {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 1px;
  column-gap: 1px;
}

.score-item {
  padding: 10px 0;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #dc143c41;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.invisible {
  display: none;
}

.win-message {
  position: fixed;
  top: 50vh;
  transform: translateY(-50%);
  left: 50vw;
  transform: translateX(-50%);
  text-align: center;
  width: fit-content;
  color: #ffffff;
  font-size: 36px;
  font-weight: 500;
  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange, 0 0 5px yellow,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3px -5px 5px yellow, -4px -10px 10px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5), 0px -25px 40px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
}
